*{
    margin: 0;
}

body{
    background-color: #e6816d;
    color: brown;
    font-family: 'Segoe UI';
    
}

h1{
    text-align: center;
    margin-top: 4rem;
    font-weight: 1500;
    font-size: 2.4rem;
    color: white;
}

nav{
    background-color: brown;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
    text-align: center;
    font-weight: bold;
    font-size: 1.4rem;
}
.dois{
  background-color: darkred;
  padding: 0.8rem;
  font-size: 1.2rem;
}

.mapa{
  margin-left: 2.81rem;
  margin-bottom: 5rem;
}

.video{
  margin-bottom: 5rem;
  margin-left: 2.81rem;
}

a{
    text-decoration: none;
    list-style: none;
    color: white;
   
    
}
#grafico_linha {
    position: absolute;
    top: 50%;
    left: 33%;
    transform: translate(-50%, -50%);
  }

  img{
    max-width: 550px;
    margin-top: 100px;
    margin-left: 2.81rem;
    margin-bottom: 250px;
  
  }

  .txt{
    margin-left: 50px;
    margin-top: 135px;
    font-weight: 600;
  }

  .imgtxt{
    display: flex;
  }

  
  .mapaevideo{
    display: flex;
    
  }

  .textomapa{
    margin-left: 37px;
    margin-top: 25px;
    font-weight: 600;
  }

  .mapaevideo2{
    display: flex;
  }

  .textovideo{
    margin-left: 37px;
    margin-top: 25px;
    font-weight: 600;
 
  }

  
/*footer*/
  footer{
    background-color: brown;
    color: white;
    padding: 1.8rem;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
  }