h1{
    font-size: 2rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}
.txt{
    width: 80vw;
    height: auto;
    display: flex;
    flex-direction: column;
}
.txt2{
    width: 90vw;
    height: auto;
    flex-direction: column;
}
.esc{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.esc p{
    color: #fff;
    margin: 1vw;
    font-size: 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
}
/* css imagens */
.foto_brunno, .foto_matheus{
display:inline-block;
vertical-align: middle;
}

.brunno, .matheus{
    width: 80vw;
    height: auto;
}
.text{
    margin-left: 5rem;
    align-items: center;
}

.matheus{
    margin-left: 30rem;
}





