h1{
    font-size: 2rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}
.txt{
    width: 80vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
}
.txt2{
    width: 90vw;
    height: 97vh;
    flex-direction: column;
}
.esc{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.esc p{
    color: #fff;
    margin: 1vw;
    font-size: 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
}


/* table{
    width: 65vw;
    border: 1px solid #fff;
    margin-bottom: 3rem;
} */

.brunno{
    width: 20vw;
    height: 50vh;
}

.contato{
    color: white;
    font-family: Comfortaa;
    border-bottom: #fff 2px dashed;

}