*{
    margin: 0;
}

body{
    background-color: #001d3d;
    color: white;
    font-family: 'Segoe UI';
    
}

h1{
    text-align: center;
    margin-top: 4rem;
    font-weight: 1500;
    font-size: 2.4rem;
    color: white;
}

nav{
    background-color: #000814;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
    text-align: center;
    font-weight: bold;
    font-size: 1.4rem;
}
.dois{
  background-color: #001427;
  padding: 0.8rem;
  font-size: 1.2rem;
}

.mapa{
  margin-left: 2.81rem;
  margin-bottom: 5rem;
  border-radius: 1.2rem;
}

.video{
  width: 100%;
  max-height: 400px;
  border-radius: 1.2rem;
}

a{
    text-decoration: none;
    list-style: none;
    color: white;
}

  img{
    max-width: 550px;
    margin-top: 100px;
    margin-left: 2.81rem;
    margin-bottom: 250px;
    border-radius: 1.2rem;
  
  }

  .txt{
    margin-left: 50px;
    margin-top: 135px;
    font-weight: 600;
  }

  .imgtxt{
    display: flex;
    height: auto;
    width: auto;
    border-radius: 1.2rem;
  }

  
  .mapaevideo{
    display: flex;
    border-radius: 1.2rem;
    
  }

  .textomapa{
    margin-left: 37px;
    margin-top: 25px;
    font-weight: 600;
  }

  .mapaevideo2{
    display: flex;
   flex-direction: column !important;
   border-radius: 1.2rem;
  }


  
/*footer*/
  footer{
    background-color: #000814;
    color: white;
    padding: 1.8rem;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
  }

  .bandeiraa{
    height: 100%;
    width: 100%;
    display: flex;
    margin-left: 41rem;
    border-radius: 1.2rem;
 
  }

  @media screen and(min-width:37.5rem){
    body{
      
    }
  }
    
  

 